div {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
header {
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}
input[type="text"] {
    background-color: white;
    height:25px;
    border-radius: 5px 0 0 5px;
    border-style: dashed;
    border-color: black;
    border-right-color: transparent;
}
input[type="submit"] {
    -webkit-transition: 0.3s ease;
    background-color: white;
    border-radius: 0 5px 5px 0;
    margin-right: 15px;
    border-style: dashed;
    border-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: lightgrey;
}
input[type="submit"]:hover{
    transition-duration: 0.3s;
    background-color: lightgrey;
    cursor: pointer;
}
.logo {
    display: flex;
}

header img {
    margin-left: 10px;
    width: 8%;
}

h1 {
    margin: auto auto auto 25px;
}

header form{
    display: flex;
    text-align: right;
    align-self:center;
}
nav {
    display: flex;
    justify-content: center;
}

nav a {
    -webkit-transition: 0.3s ease;
    text-decoration: unset;
    color: black;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    width: 120px;
    margin: 0px 40px;
}
nav a:hover {
    transition-duration: 0.3s;
    color: antiquewhite;
    text-shadow: 1px 1px 3px black,
    0px 1px 1px black,
    -1px 1px 1px black,
    -1px 0px 1px black;
}
main {
    margin-top: 50px;
}
main h2 {
    text-align: center;
}
section {
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
article {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 295px;
}
article img {
    width: 295px;
    height: 450px;
}
article p {
    margin: 20px 20px;
    text-align: justify; 
    height: 100px;
}
article a {
    text-decoration: unset;
    color:black;
    border: 1px solid silver;
    border-style: dashed;
    border-radius: 10px;
    padding: 5px;
}
article a:hover, footer a:hover {
    text-decoration: underline;
}
article:hover {
    transition-duration: 0.5s;
    background-color: ghostwhite;
    border-radius: 10px;
}
footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
footer a {
    align-self: center;
    text-decoration: unset;
    color:black;
}
footer img {
    width: 30px;
}